<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bradely.system_school.app.dal.mapper.AccountsDOMapper">
    <!-- 自动生成,请修改 ACCOUNTS.xml -->
    <resultMap id="BaseResultMap"  type="com.bradely.system_school.app.dal.dataobject.AccountsDO">
            <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
            <result column="OPERATOR" property="operator" jdbcType="VARCHAR" javaType="String"/>
            <result column="PASSWORD" property="password" jdbcType="VARCHAR" javaType="String"/>
            <result column="USERNAME" property="username" jdbcType="CHAR" javaType="String"/>
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,OPERATOR,PASSWORD,USERNAME,CREATE_TIME,UPDATE_TIME
    </sql>


        <!--插入表:ACCOUNTS-->
        <insert id="insert" >
                    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
                SELECT
                LAST_INSERT_ID()
            </selectKey>
        INSERT INTO ACCOUNTS(
            
            OPERATOR
            ,PASSWORD
            ,USERNAME
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES(
            
            #{operator,jdbcType=VARCHAR}
            ,#{password,jdbcType=VARCHAR}
            ,#{username,jdbcType=CHAR}
            ,#{createTime,jdbcType=TIMESTAMP}
            ,#{updateTime,jdbcType=TIMESTAMP}
        )
        </insert>

        <!--更新表:ACCOUNTS-->
        <update id="update" >
                    UPDATE /*MS-ACCOUNTS-UPDATE*/ ACCOUNTS
            SET
                    OPERATOR        = #{operator,jdbcType=VARCHAR}
                    ,PASSWORD        = #{password,jdbcType=VARCHAR}
                    ,USERNAME        = #{username,jdbcType=CHAR}
                    ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
                    ,UPDATE_TIME     = #{updateTime,jdbcType=TIMESTAMP}
            WHERE
                ID              = #{id,jdbcType=BIGINT}
        </update>

        <!--根据主键删除数据:ACCOUNTS-->
        <delete id="deleteByPrimary" >
                    DELETE /*MS-ACCOUNTS-DELETEBYPRIMARY*/ FROM ACCOUNTS
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </delete>

        <!--根据主键获取数据:ACCOUNTS-->
        <select id="getByPrimary" resultMap="BaseResultMap">
                    SELECT /*MS-ACCOUNTS-GETBYPRIMARY*/  <include refid="Base_Column_List" /> FROM ACCOUNTS
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </select>
</mapper>
